include ../dropdown-guests/dropdown-guests.pug
include ../date-dropdown/date-dropdown.pug 
include ../button/button.pug 

mixin verification-form({ price, discount, collecting, numberValue, numberState, numberPrice, entryDate, checkOutDate })
  form.verification-form(data-price=price, data-discount=discount, data-collecting=collecting)
    .verification-form__room-data
      p.verification-form__room-number
        span.verification-form__room-number-symbol № 
        span.verification-form__room-number-value #{numberValue}
        span.verification-form__room-number-state #{numberState}
      p.verification-form__room-price
        span.verification-form__room-price-value #{numberPrice}₽
        span.verification-form__room-price-text  в сутки
    .verification-form__date-dropdown-container 
      .verification-form__date-dropdown-titles 
        h3.verification-form__date-dropdown-title-entry прибытие 
        h3.verification-form__date-dropdown-title-output выезд
      +date-dropdown(entryDate, checkOutDate)
    .verification-form__dropdown-guests-container 
      h3.verification-form__dropdown-guests-title гости
      +dropdownGuests(0, 0, 0) 
    .verification-form__data
      p.verification-form__price
        span.verification-form__price-text.js-verification-form__price-text
        span.verification-form__price-value.js-verification-form__price-value
      p.verification-form__discount
        span.verification-form__discount-text.js-verification-form__discount-text 
        span.verification-form__discount-icon i
        span.verification-form__discount-price.js-verification-form__discount-price 
      p.verification-form__collecting 
        span.verification-form__collecting-text.js-verification-form__collecting-text
        span.verification-form__collecting-icon i
        span.verification-form__collecting-price.js-verification-form__collecting-price
    .verification-form__total 
      span.verification-form__total-title Итого 
      span.verification-form__total-line
      span.verification-form__total-price.js-verification-form__total-price
    +button({ 
      size: 'big', 
      color: 'white', 
      text: 'забронировать' 
    })