mixin button({ size, background, color, transparent, text })
  - const isTransparent = transparent ? 'btn_transparent' : ''
  button(class=`btn btn_size_${size} btn_background_${background} btn_color_${color} ${isTransparent}`) #{text}  