mixin button({ size, background, color, transparent, text })
  if transparent
    button(class=`btn btn_size_${size} btn_background_${background} btn_color_${color} btn_transparent`) #{text}
  else
    button(class=`btn btn_size_${size} btn_background_${background} btn_color_${color}`) #{text}      