mixin button({ size, background, color, transparent, text })
  - const isTransparent = transparent ? 'btn_transparent' : ''
  button(class=`btn btn_size-${size} btn_background-${background} btn_color-${color} ${isTransparent}`) #{text}  