mixin check(number, number_state, price, discount, collection)
    .check 
        .info
            .container-number
                span.container-number__symbol №
                span.container-number__number #{number}
                span.container-number__number-state #{number_state}
            .container-price
                span.container-price__price #{price}₽   
                span.container-price__time в сутки
        include ../date-dropdown/date-dropdown.pug 
        include ../dropdown-guests/dropdown-guests.pug 
        .data
            p.price-accommodation 
                span.price-accommodation__price-time.js-price-accommodation__price-time 
                span.price-accommodation__total.js-price-accommodation__total 
            p.discount 
                span.discount__text Сбор за услуги: скидка #{discount}₽ 
                span.discount__icon i 
                span.discount__total 0₽ 
            p.collection 
                span.collection__text Сбор за дополнительные услуги 
                span.collection__icon i 
                span.collection__total #{collection}₽ 
        .total
            span.total__title Итого
            span.total__line 
            span.total__price.js-total__price
        include ../buttons/buttons.pug 
        +button('btn_fourth', 'Забронировать')

