mixin item(url, text, icon)
  li.header__item
    if icon 
      a.header__link.js-header__link(href=url) #{text}
    else 
      a.header__link.js-header__link.header__link_dropdown(href="#") #{text}
        span.header__icon-expand-more.icon-expand_more

mixin header(firstName, lastName)
  header.header.js-header 
    .header__container-logotip
      include ../logotip/logotip.pug 
      +logotip('purple')
    nav.header__nav 
      ul.header__item-list
        +item('#', 'О нас')
        +item('#', 'Услуги', true)
        +item('#', 'Вакансии')
        +item('#', 'Новости')
        +item('#', 'Соглашения', true)
    if firstName == undefined && lastName == undefined
      .header__buttons 
        include ../button/button.pug 
        +button('button', 'btn_white btn_small', 'Войти')
        +button('button', 'btn_purple btn_small', 'Зарегистрироваться')
    else 
      span.header__name #{firstName} #{lastName}