include ../logotip/logotip.pug 
include ../button/button.pug 

mixin header-link(url, text, icon)
  li.header__item
    if icon 
      a.header__link.js-header__link.header__link_dropdown(href="#") #{text}
        span.header__icon-expand-more.icon-expand_more
    else 
      a.header__link.js-header__link(href=url) #{text}

mixin header(firstName, lastName)
  header.header.js-header 
    .header__container-logotip
      +logotip('purple')
    nav.header__nav 
      ul.header__item-list
        +header-link('#', 'О нас')
        +header-link('#', 'Услуги', true)
        +header-link('#', 'Вакансии')
        +header-link('#', 'Новости')
        +header-link('#', 'Соглашения', true)
    if firstName == undefined && lastName == undefined
      .header__buttons 
        +button('btn_background-white btn_purple btn_small', 'Войти')
        +button('btn_background-purple btn_white btn_small', 'Зарегистрироваться')
    else 
      span.header__name #{firstName} #{lastName}